In [1]:
import pandas as pd
import glob
import numpy as np
import re
import getpass

# Ajouter les nouvelles données du planning

In [2]:
# utilisateurs
username = getpass.getuser()

In [3]:
df1=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_ao.csv')
df2=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_cds.csv')
df3=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_rru.csv')
df4=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_art.csv')
df5=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_pds.csv')

In [4]:
df4.head()

,0,1,2,3,4,5,6,7,8
0,10/07/2023,Interne,DUMETZ,Manon,m.dumetz@imadis.fr,St etienne,Journée,10/07/2023 08:00:00,10/07/2023 13:00:00
1,NaN,Interne,BUFFARD,Théo,t.buffard@imadis.fr,Lyon,Journée,10/07/2023 13:00:00,10/07/2023 19:00:00
2,NaN,Interne,THON,Jérémy,j.thon@imadis.fr,Marseille,Nuit,10/07/2023 19:00:00,11/07/2023 01:00:00
3,11/07/2023,Interne,CONJEAUD,Mathieu,m.conjeaud@imadis.fr,St etienne,Journée,11/07/2023 08:00:00,11/07/2023 13:00:00
4,NaN,Interne,MUSELIER,Baptiste,b.muselier@imadis.fr,Marseille,Journée,11/07/2023 13:00:00,11/07/2023 19:00:00

In [5]:
correspondance_colonnes = {'0' : 'Date',
                          '1': 'Associé',
                          '2': 'Nom',
                          '3' : 'Prénom',
                          '4' : 'mail',
                          '5' : 'Site',
                          '6' : 'Jour/Nuit',
                          '7': 'Date_Heure_Début',
                          '8' : 'Date_Heure_Fin'}

df1 = df1.rename(columns=correspondance_colonnes)
df3 = df3.rename(columns=correspondance_colonnes)

In [6]:
correspondance_colonnes = {'0' : 'Date',
                          '1': 'Associé',
                          '2': 'Nom',
                          '3' : 'Prénom',
                          '4' : 'mail',
                          '5' : 'Site',
                          '6' : 'Jour/Nuit',
                          '7': 'Date_Heure_Début',
                          '8' : 'Date_Heure_Fin',
                          '9' : 'Chef',
                          '10' : 'Formation'}

df2 = df2.rename(columns=correspondance_colonnes)
df5 = df5.rename(columns=correspondance_colonnes)
df4 = df4.rename(columns=correspondance_colonnes)

In [7]:
df1['Chef'] = np.nan
df3['Chef'] = np.nan
df4['Chef'] = np.nan

df1['Formation'] = np.nan
df2['Formation'] = np.nan
df3['Formation'] = np.nan
df4['Formation'] = np.nan

df1['Source'] = 'AO'
df2['Source'] = 'CDS'
df3['Source'] = 'RRU'
df4['Source'] = 'ART'
df5['Source'] = 'PDS'

df1['Nom_Prenom'] = df1['Nom']+' '+df1['Prénom']
df2['Nom_Prenom'] = df2['Nom']+' '+df2['Prénom']
df3['Nom_Prenom'] = df3['Nom']+' '+df3['Prénom']
df4['Nom_Prenom'] = df4['Nom']+' '+df4['Prénom']
df5['Nom_Prenom'] = df5['Nom']+' '+df5['Prénom']

df1 = df1.dropna(subset=['Nom_Prenom'])
df2 = df2.dropna(subset=['Nom_Prenom'])
df3 = df3.dropna(subset=['Nom_Prenom'])
df4 = df4.dropna(subset=['Nom_Prenom'])
df5 = df5.dropna(subset=['Nom_Prenom'])

In [8]:
df1['Date'] = df1['Date'].fillna(method='ffill')
df2['Date'] = df2['Date'].fillna(method='ffill')
df3['Date'] = df3['Date'].fillna(method='ffill')
df4['Date'] = df4['Date'].fillna(method='ffill')
df5['Date'] = df5['Date'].fillna(method='ffill')

df1=df1.drop(['Nom', 'Prénom'], axis=1)
df2=df2.drop(['Nom', 'Prénom'], axis=1)
df3=df3.drop(['Nom', 'Prénom'], axis=1)
df4=df4.drop(['Nom', 'Prénom'], axis=1)
df5=df5.drop(['Nom', 'Prénom'], axis=1)

In [9]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d/%m/%Y')
df1['Date'] = df1['Date'].dt.strftime('%Y-%m-%d')
df2['Date'] = pd.to_datetime(df2['Date'], format='%d/%m/%Y')
df2['Date'] = df2['Date'].dt.strftime('%Y-%m-%d')
df3['Date'] = pd.to_datetime(df3['Date'], format='%d/%m/%Y')
df3['Date'] = df3['Date'].dt.strftime('%Y-%m-%d')
df4['Date'] = pd.to_datetime(df4['Date'], format='%d/%m/%Y')
df4['Date'] = df4['Date'].dt.strftime('%Y-%m-%d')
df5['Date'] = pd.to_datetime(df5['Date'], format='%d/%m/%Y')
df5['Date'] = df5['Date'].dt.strftime('%Y-%m-%d')

In [10]:
df1['Date_Heure_Début'] = pd.to_datetime(df1['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Début'] = pd.to_datetime(df2['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Début'] = pd.to_datetime(df3['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Début'] = pd.to_datetime(df4['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Début'] = pd.to_datetime(df5['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")

In [11]:
df1['Date_Heure_Fin'] = pd.to_datetime(df1['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Fin'] = pd.to_datetime(df2['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Fin'] = pd.to_datetime(df3['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Fin'] = pd.to_datetime(df4['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Fin'] = pd.to_datetime(df5['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")

In [16]:
df5.head()

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Source,Nom_Prenom
0,2023-07-10,Interne,m.dumetz@imadis.fr,St etienne,Journée,2023-07-10 08:00:00,2023-07-10 13:00:00,PDS,DUMETZ Manon
1,2023-07-10,Interne,t.buffard@imadis.fr,Lyon,Journée,2023-07-10 13:00:00,2023-07-10 19:00:00,PDS,BUFFARD Théo
2,2023-07-10,Interne,j.thon@imadis.fr,Marseille,Nuit,2023-07-10 19:00:00,2023-07-11 01:00:00,PDS,THON Jérémy
3,2023-07-11,Interne,m.conjeaud@imadis.fr,St etienne,Journée,2023-07-11 08:00:00,2023-07-11 13:00:00,PDS,CONJEAUD Mathieu
4,2023-07-11,Interne,b.muselier@imadis.fr,Marseille,Journée,2023-07-11 13:00:00,2023-07-11 19:00:00,PDS,MUSELIER Baptiste

In [17]:
df1['Heure_Début'] = df1['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df2['Heure_Début'] = df2['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df3['Heure_Début'] = df3['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df4['Heure_Début'] = df4['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df5['Heure_Début'] = df5['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [18]:
df1['Heure_Fin'] = df1['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df2['Heure_Fin'] = df2['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df3['Heure_Fin'] = df3['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df4['Heure_Fin'] = df4['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df5['Heure_Fin'] = df5['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [19]:
df1['Horaire'] = df1['Heure_Début']+' - '+df1['Heure_Fin']
df2['Horaire'] = df2['Heure_Début']+' - '+df2['Heure_Fin']
df3['Horaire'] = df3['Heure_Début']+' - '+df3['Heure_Fin']
df4['Horaire'] = df4['Heure_Début']+' - '+df4['Heure_Fin']
df5['Horaire'] = df5['Heure_Début']+' - '+df5['Heure_Fin']

In [20]:
dfs = [df1, df2, df3, df4, df5]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.sample(10)

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,9,10,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
4658,2023-09-06,Interne,z.sahut@imadis.fr,Lyon,Journée,2023-09-06 08:00:00,2023-09-06 13:00:00,NaN,NaN,NaN,NaN,ART,SAHUT Zoé,08:00:00,13:00:00,08:00:00 - 13:00:00
3276,2023-08-16,Associé,a.thibaut@imadis.fr,Lyon,Nuit,2023-08-16 13:00:00,2023-08-16 18:00:00,NaN,NaN,NaN,NaN,CDS,THIBAUT Antoine,13:00:00,18:00:00,13:00:00 - 18:00:00
2713,2023-10-27,Thèsé,a.schoettle@imadis.fr,Dijon,Nuit,2023-10-27 20:00:00,2023-10-28 08:00:00,NaN,NaN,NaN,NaN,AO,SCHOETTLE Alexiane,20:00:00,08:00:00,20:00:00 - 08:00:00
720,2023-08-01,Associé,c.chevalier@imadis.fr,St etienne,Nuit,2023-08-01 20:00:00,2023-08-02 08:00:00,NaN,NaN,NaN,NaN,AO,CHEVALIER Clément,20:00:00,08:00:00,20:00:00 - 08:00:00
3855,2023-10-27,Associé,r.peyre@imadis.fr,Marseille,Journée,2023-10-27 08:00:00,2023-10-27 13:00:00,NaN,NaN,NaN,NaN,CDS,PEYRE Rémi,08:00:00,13:00:00,08:00:00 - 13:00:00
2255,2023-10-03,Associé,m.laubacher@imadis.fr,Lyon,Nuit,2023-10-03 20:00:00,2023-10-04 02:00:00,NaN,NaN,NaN,NaN,AO,LAUBACHER Morgane,20:00:00,02:00:00,20:00:00 - 02:00:00
705,2023-08-01,Thèsé,f.prigent@imadis.fr,Dijon,Journée,2023-08-01 18:00:00,2023-08-01 21:00:00,NaN,NaN,NaN,NaN,AO,PRIGENT François-victor,18:00:00,21:00:00,18:00:00 - 21:00:00
2096,2023-09-24,Interne,b.legghe@imadis.fr,Bordeaux,Nuit,2023-09-24 20:00:00,2023-09-25 02:00:00,NaN,NaN,NaN,NaN,AO,LEGGHE Benoît,20:00:00,02:00:00,20:00:00 - 02:00:00
3265,2023-08-14,NaN,NaN,NaN,Journée,2023-08-14 17:00:00,2023-08-14 18:00:00,NaN,NaN,NaN,NaN,CDS,A POURVOIR A pourvoir,17:00:00,18:00:00,17:00:00 - 18:00:00
181,2023-07-15,Interne,g.guillaubey@imadis.fr,St etienne,Nuit,2023-07-15 18:00:00,2023-07-16 08:00:00,NaN,NaN,NaN,NaN,AO,GUILLAUBEY Geoffroy,18:00:00,08:00:00,18:00:00 - 08:00:00

In [37]:
#concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date'])
#concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [21]:
concatenated_df.head()

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,9,10,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
0,2023-07-10,Interne,pa.garbuio@imadis.fr,Dijon,Journée,2023-07-10 08:00:00,2023-07-10 12:00:00,NaN,F2,NaN,NaN,AO,GARBUIO Pierre antoine,08:00:00,12:00:00,08:00:00 - 12:00:00
1,2023-07-10,Associé,s.mvouama@imadis.fr,Dijon,Journée,2023-07-10 08:00:00,2023-07-10 12:00:00,NaN,F2,NaN,NaN,AO,MVOUAMA Ségolène,08:00:00,12:00:00,08:00:00 - 12:00:00
2,2023-07-10,Thèsé,w.bran@imadis.fr,Brest,Nuit,2023-07-10 18:00:00,2023-07-10 20:00:00,NaN,NaN,NaN,NaN,AO,BRAN William,18:00:00,20:00:00,18:00:00 - 20:00:00
3,2023-07-10,Interne,g.chauvet@imadis.fr,Brest,Nuit,2023-07-10 18:00:00,2023-07-10 20:00:00,NaN,NaN,NaN,NaN,AO,CHAUVET Grégoire,18:00:00,20:00:00,18:00:00 - 20:00:00
4,2023-07-10,Interne,j.dargent@imadis.fr,Brest,Nuit,2023-07-10 18:00:00,2023-07-10 20:00:00,NaN,NaN,NaN,NaN,AO,DARGENT Johann,18:00:00,20:00:00,18:00:00 - 20:00:00

In [25]:
concatenated_df.to_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/new_data.csv', index=F)