In [1]:
import pandas as pd
import glob
import numpy as np
import re
import getpass

In [2]:
# utilisateurs
username = getpass.getuser()

In [3]:
df1=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/Concat_df.csv')
df2=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/new_data.csv')

In [4]:
dfs = [df1, df2]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
data = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
data.reset_index(drop=True, inplace=True)

In [5]:
data['Nom_Prenom']=data['Nom_Prenom'].str.upper()

data['Associé']=data['Associé'].fillna('Remplaçant')

In [6]:
data['Date_Heure_Fin'] = pd.to_datetime(data['Date_Heure_Fin'])
data['Date_Heure_Début'] = pd.to_datetime(data['Date_Heure_Début'])

data['Durée'] = data['Date_Heure_Fin'] - data['Date_Heure_Début']

In [7]:
data.sample(5)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation,Durée
35451,PDS,BILLARD FÉLIX,2023-01-29,20:00:00,08:00:00,20:00:00 - 08:00:00,2023-01-29 20:00:00,2023-01-30 08:00:00,Interne,f.billard@imadis.fr,Rennes,Nuit,NaN,NaN,0 days 12:00:00
13467,RRU,POURRIOL LAURENT,2021-05-03,13:00:00,15:00:00,13:00:00 - 15:00:00,2021-05-03 13:00:00,2021-05-03 15:00:00,Remplaçant,NaN,NaN,NaN,NaN,NaN,0 days 02:00:00
37439,PDS,BISCHOFF-MERCIER ELODIE,2023-04-04,18:00:00,21:00:00,18:00:00 - 21:00:00,2023-04-04 18:00:00,2023-04-04 21:00:00,Associé,e.bischoff@imadis.fr,Lyon,Nuit,NaN,NaN,0 days 03:00:00
19380,CDS,MOUZA VIRGILE,2023-02-13,16:30:00,18:00:00,16:30:00 - 18:00:00,2023-02-13 16:30:00,2023-02-13 18:00:00,Interne,v.mouza@imadis.fr,Bordeaux,Journée,NaN,NaN,0 days 01:30:00
24880,PDS,CASALONGA FRANÇOIS,2022-01-17,20:00:00,08:00:00,20:00:00 - 08:00:00,2022-01-17 20:00:00,2022-01-18 08:00:00,Associé,f.casalonga@imadis.fr,Marseille,Nuit,Chef de site,NaN,0 days 12:00:00

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44564 entries, 0 to 44563
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Source            44564 non-null  object
 1   Nom_Prenom        44564 non-null  object
 2   Date              44564 non-null  object
 3   Heure_Début       44564 non-null  object
 4   Heure_Fin         44564 non-null  object
 5   Horaire           44564 non-null  object
 6   Date_Heure_Début  44564 non-null  datetime64[ns]
 7   Date_Heure_Fin    44564 non-null  datetime64[ns]
 8   Associé           44564 non-null  object
 9   mail              30839 non-null  object
 10  Site              30846 non-null  object
 11  Jour/Nuit         30923 non-null  object
 12  Chef              6047 non-null   object
 13  Formation         5637 non-null   object
 14  Durée             44564 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), object(12), timedelta64[ns](1)
memory usage: 5.1+ MB

In [9]:
data=data.drop_duplicates(subset=['Nom_Prenom', 'Date', 'Horaire'], keep='last')

In [10]:
data.sample(3)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation,Durée
24951,PDS,BISCHOFF-MERCIER ELODIE,2022-01-20,20:00:00,08:00:00,20:00:00 - 08:00:00,2022-01-20 20:00:00,2022-01-21 08:00:00,Associé,e.bischoff@imadis.fr,Lyon,Nuit,NaN,NaN,0 days 12:00:00
28256,PDS,DEMATONS MARINE,2022-05-26,20:00:00,08:00:00,20:00:00 - 08:00:00,2022-05-26 20:00:00,2022-05-27 08:00:00,Associé,m.dematons@imadis.fr,Lyon,Nuit,NaN,NaN,0 days 12:00:00
18760,CDS,BOUDINAUD CLAIRE,2022-12-12,08:00:00,13:00:00,08:00:00 - 13:00:00,2022-12-12 08:00:00,2022-12-12 13:00:00,Associé,c.boudinaud@imadis.fr,Clermont-ferrand,Journée,NaN,NaN,0 days 05:00:00

In [11]:
data.shape

(44510, 15)

In [12]:
data.isna().sum()

Source                  0
Nom_Prenom              0
Date                    0
Heure_Début             0
Heure_Fin               0
Horaire                 0
Date_Heure_Début        0
Date_Heure_Fin          0
Associé                 0
mail                13681
Site                13675
Jour/Nuit           13618
Chef                38465
Formation           38877
Durée                   0
dtype: int64

In [13]:
data['Durée']=data['Durée'].astype(str)

In [14]:
data['Durée']=data['Durée'].str.split().str[2]

In [15]:
#data['Durée'] = data['Durée'].str.replace("+ ", "")
data['Durée'] = data['Durée'].str.replace("+", "")

C:\Users\d.mandon\AppData\Local\Temp\ipykernel_23948\1769604156.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Durée'] = data['Durée'].str.replace("+", "")

In [17]:
data['Durée'] = pd.to_timedelta(data['Durée'])

# Calculez la durée en heures décimales
data['Durée'] = data['Durée'].dt.total_seconds() / 3600

In [1]:
data.sample(5)

NameError: name 'data' is not defined

In [17]:
data.to_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/BDD.csv', index=False)