In [1]:
import pandas as pd
import glob
import numpy as np
import re
import getpass

In [2]:
# utilisateurs
username = getpass.getuser()

In [3]:
df1=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/Concat_df.csv')
df2=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/new_data.csv')

In [4]:
dfs = [df1, df2]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
data = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
data.reset_index(drop=True, inplace=True)

In [5]:
data['Nom_Prenom']=data['Nom_Prenom'].str.upper()

data['Associé']=data['Associé'].fillna('Remplaçant')

In [6]:
data['Date_Heure_Fin'] = pd.to_datetime(data['Date_Heure_Fin'])
data['Date_Heure_Début'] = pd.to_datetime(data['Date_Heure_Début'])

data['Durée'] = data['Date_Heure_Fin'] - data['Date_Heure_Début']

In [7]:
data.tail(5)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation,9,10,Durée
50126,PDS,PERREY ANTOINE,2023-11-03,11:00:00,13:00:00,11:00:00 - 13:00:00,2023-11-03 11:00:00,2023-11-03 13:00:00,Associé,a.perrey@imadis.fr,Marseille,Journée,NaN,NaN,NaN,NaN,0 days 02:00:00
50127,PDS,CHEVALLIER LAURÈNE,2023-11-03,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-11-03 13:00:00,2023-11-03 15:00:00,Associé,l.chevallier@imadis.fr,Lyon,Nuit,NaN,NaN,NaN,NaN,0 days 02:00:00
50128,PDS,PEYRE RÉMI,2023-11-03,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-11-03 13:00:00,2023-11-03 15:00:00,Associé,r.peyre@imadis.fr,Marseille,Nuit,NaN,NaN,NaN,NaN,0 days 02:00:00
50129,PDS,ROBERT CORENTIN,2023-11-03,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-11-03 13:00:00,2023-11-03 15:00:00,Associé,c.robert@imadis.fr,Rennes,Nuit,NaN,NaN,NaN,NaN,0 days 02:00:00
50130,PDS,BOUREILLE PIERRE,2023-11-03,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-11-03 13:00:00,2023-11-03 15:00:00,Associé,p.boureille@imadis.fr,St etienne,Nuit,NaN,NaN,NaN,NaN,0 days 02:00:00

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50131 entries, 0 to 50130
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Source            50131 non-null  object
 1   Nom_Prenom        50131 non-null  object
 2   Date              50131 non-null  object
 3   Heure_Début       50131 non-null  object
 4   Heure_Fin         50131 non-null  object
 5   Horaire           50131 non-null  object
 6   Date_Heure_Début  50131 non-null  datetime64[ns]
 7   Date_Heure_Fin    50131 non-null  datetime64[ns]
 8   Associé           50131 non-null  object
 9   mail              36202 non-null  object
 10  Site              36207 non-null  object
 11  Jour/Nuit         36490 non-null  object
 12  Chef              6355 non-null   object
 13  Formation         6332 non-null   object
 14  9                 165 non-null    object
 15  10                69 non-null     object
 16  Durée             50131 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), object(14), timedelta64[ns](1)
memory usage: 6.5+ MB

In [9]:
data=data.drop_duplicates(subset=['Nom_Prenom', 'Date', 'Horaire'], keep='last')

In [10]:
data.sample(3)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation,9,10,Durée
20788,CDS,ALLARY ALEXANDRE,2023-06-14,15:00:00,18:00:00,15:00:00 - 18:00:00,2023-06-14 15:00:00,2023-06-14 18:00:00,Associé,a.allary@imadis.fr,Marseille,Nuit,NaN,NaN,NaN,NaN,0 days 03:00:00
17045,CDS,CHAILLOT PIERRE-FLEURY,2022-03-18,13:00:00,18:00:00,13:00:00 - 18:00:00,2022-03-18 13:00:00,2022-03-18 18:00:00,Associé,pf.chaillot@imadis.fr,Lyon,Nuit,NaN,NaN,NaN,NaN,0 days 05:00:00
40867,PDS,BRAN WILLIAM,2023-06-30,20:00:00,08:00:00,20:00:00 - 08:00:00,2023-06-30 20:00:00,2023-07-01 08:00:00,Thèsé,w.bran@imadis.fr,Brest,Nuit,Chef de site,NaN,NaN,NaN,0 days 12:00:00

In [11]:
data.shape

(49400, 17)

In [12]:
data.isna().sum()

Source                  0
Nom_Prenom              0
Date                    0
Heure_Début             0
Heure_Fin               0
Horaire                 0
Date_Heure_Début        0
Date_Heure_Fin          0
Associé                 0
mail                13817
Site                13812
Jour/Nuit           13618
Chef                43047
Formation           43072
9                   49235
10                  49331
Durée                   0
dtype: int64

In [13]:
data['Durée']=data['Durée'].astype(str)

In [14]:
data['Durée']=data['Durée'].str.split().str[2]

In [15]:
#data['Durée'] = data['Durée'].str.replace("+ ", "")
data['Durée'] = data['Durée'].str.replace("+", "")

C:\Users\d.mandon\AppData\Local\Temp\ipykernel_22404\1769604156.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Durée'] = data['Durée'].str.replace("+", "")

In [16]:
data['Durée'] = pd.to_timedelta(data['Durée'])

# Calculez la durée en heures décimales
data['Durée'] = data['Durée'].dt.total_seconds() / 3600

In [17]:
data.tail(5)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation,9,10,Durée
50126,PDS,PERREY ANTOINE,2023-11-03,11:00:00,13:00:00,11:00:00 - 13:00:00,2023-11-03 11:00:00,2023-11-03 13:00:00,Associé,a.perrey@imadis.fr,Marseille,Journée,NaN,NaN,NaN,NaN,2.0
50127,PDS,CHEVALLIER LAURÈNE,2023-11-03,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-11-03 13:00:00,2023-11-03 15:00:00,Associé,l.chevallier@imadis.fr,Lyon,Nuit,NaN,NaN,NaN,NaN,2.0
50128,PDS,PEYRE RÉMI,2023-11-03,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-11-03 13:00:00,2023-11-03 15:00:00,Associé,r.peyre@imadis.fr,Marseille,Nuit,NaN,NaN,NaN,NaN,2.0
50129,PDS,ROBERT CORENTIN,2023-11-03,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-11-03 13:00:00,2023-11-03 15:00:00,Associé,c.robert@imadis.fr,Rennes,Nuit,NaN,NaN,NaN,NaN,2.0
50130,PDS,BOUREILLE PIERRE,2023-11-03,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-11-03 13:00:00,2023-11-03 15:00:00,Associé,p.boureille@imadis.fr,St etienne,Nuit,NaN,NaN,NaN,NaN,2.0

In [18]:
data.to_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/BDD.csv', index=False)
data.to_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/BDD.xlsx', index=False)