In [1]:
import pandas as pd
import glob
import numpy as np
import re

In [2]:
df1=pd.read_csv('Concat_df.csv')
df2=pd.read_csv('new_data.csv')

In [3]:
dfs = [df1, df2]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
data = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
data.reset_index(drop=True, inplace=True)

In [4]:
data['Nom_Prenom']=data['Nom_Prenom'].str.upper()

In [5]:
data['Associé']=data['Associé'].fillna('Remplaçant')

In [6]:
data.sample(3)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site,Chef,Formation
3325,PDS,BOUQUET GREGOIRE,23/02/2020,12:00:00,19:00:00,12:00:00 - 19:00:00,2020-02-23 19:00:00,2020-02-23 12:00:00,Remplaçant,NaN,NaN,NaN,NaN
24396,PDS,L'HUILLIER ROMAIN,28/11/2021,20:00:00,08:00:00,20:00:00 - 08:00:00,2021-11-29 08:00:00,2021-11-28 20:00:00,Interne,r.lhuillier@imadis.fr,Lyon,NaN,NaN
19870,CDS,LEMAISSI ROMAIN,10/03/2023,13:00:00,18:00:00,13:00:00 - 18:00:00,2023-03-10 18:00:00,2023-03-10 13:00:00,Interne,r.lemaissi@imadis.fr,Brest,NaN,NaN

In [7]:
data.shape

(47495, 13)

In [8]:
data.isna().sum()

Source                  0
Nom_Prenom              0
Date                    0
Heure_Début             0
Heure_Fin               0
Horaire                 0
Date_Heure_Fin          0
Date_Heure_Début        0
Associé                 0
mail                14265
Site                14226
Chef                41189
Formation           41226
dtype: int64

In [9]:
data.to_csv('BDD.csv', index=False)