In [2]:
import pandas as pd
import glob

In [3]:
download_folder = 'C:/Users/debor/Downloads/'
excel_files = glob.glob(download_folder + 'export*.xlsx')

In [5]:
excel_files

['C:/Users/debor/Downloads\\export (1).xlsx',
 'C:/Users/debor/Downloads\\export (2).xlsx',
 'C:/Users/debor/Downloads\\export (3).xlsx',
 'C:/Users/debor/Downloads\\export (4).xlsx',
 'C:/Users/debor/Downloads\\export (5).xlsx',
 'C:/Users/debor/Downloads\\export (6).xlsx']

In [12]:
df1=pd.read_excel(excel_files[0], header=None)
df2=pd.read_excel(excel_files[1], header=None)
df3=pd.read_excel(excel_files[2], header=None)
df4=pd.read_excel(excel_files[3], header=None)
df5=pd.read_excel(excel_files[4], header=None)
df6=pd.read_excel(excel_files[5], header=None)

In [13]:
df1

,0,1,2,3,4,5,6,7,8,9,10
0,09/05/2023,Interne,SIAUVE,Valentin,v.siauve@imadis.fr,Dijon,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,NaN,NaN
1,NaN,Associé,DEHBI,Sabrina,s.dehbi@imadis.fr,Lyon,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,Chef de site,NaN
2,NaN,Interne,LETTY,Quentin,q.letty@imadis.fr,Lyon,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,NaN,NaN
3,NaN,Associé,LAURENDON,Thomas,t.laurendon@imadis.fr,Marseille,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,NaN,NaN
4,NaN,Associé,PERREY,Antoine,a.perrey@imadis.fr,Marseille,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1823,NaN,Interne,DRAI,Maxime,m.drai@imadis.fr,Marseille,Nuit,09/07/2023 20:00:00,10/07/2023 08:00:00,NaN,NaN
1824,NaN,Interne,PLANCHE,Antoine,a.planche@imadis.fr,Marseille,Nuit,09/07/2023 20:00:00,10/07/2023 08:00:00,NaN,NaN
1825,NaN,Interne,BERNARD,Gontran,g.bernard@imadis.fr,Rennes,Nuit,09/07/2023 20:00:00,10/07/2023 08:00:00,NaN,NaN
1826,NaN,Interne,LODE,Baptiste,b.lode@imadis.fr,Rennes,Nuit,09/07/2023 20:00:00,10/07/2023 08:00:00,NaN,NaN
1827,NaN,Thèsé,COHEN,David,d.cohen@imadis.fr,Lyon,Nuit,09/07/2023 21:00:00,10/07/2023 08:00:00,NaN,NaN